@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter_18pt-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  